@tailwind base;
@tailwind components;
@tailwind utilities;



.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}



/* @media (max-width: 786px) { 
    #abc {
      width: 100%;
      left: 0  ; 
    }
  } */

.slick-next{
  height: 50px !important ;
  width: 100px  !important;
  background-color: white   !important ; 
  border-radius: 50%;
  background-image: url(arrow-right-s-line.svg) !important ;
  
}


.slick-prev{
  height: 50px !important ;
  width: 100px  !important;
  background-color: white   !important ; 
  border-radius: 50%;
  background-image: url(./arrow-left-s-line.svg) !important ;
  
}